/* src/css/Header.css */
.header {
    padding: 1rem 0; /* py-4 */
    text-align: center;
    background-color: #212529; /* bg-dark */
    color: #fff; /* text-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
}

.header-title {
    font-size: 2.5rem; /* display-5 */
    font-weight: 700; /* fw-bold */
    margin-bottom: 1rem; /* mb-4 */
    color: var(--primary-color); /* Color azul de Bootstrap */
}

.header-subtitle {
    font-size: 1.25rem; /* lead */
    color: #6c757d; /* text-muted */
}