.menuBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px; /* Aumenta el tamaño del icono */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.menuBtn .fa-bars {
    width: 30px; /* Ajusta el ancho del icono */
    height: 30px; /* Ajusta la altura del icono */
}

.menuBtn:hover {
    color: var(--secondary-color);
}